:root {
    --primary-color: linear-gradient(90deg, #0d0d0d 0%, #4c2835 100%, #0d0d0d 100%);
    --primary-color-light: rgba(141, 71, 94, 0.1);
    --primary-color-dark: #6D3648;
    --text-color: #333;
    --background-color: #f8f9fa;
    --border-radius: 10px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: auto;
}

.card {
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    background: var(--background-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-details-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.job-details-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s;
}

.job-details-image img:hover {
    transform: scale(1.05);
}

.job-details-form {
    padding: 30px;
}

.job-details-form h2 {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.job-details-form p {
    color: #777;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.form-control, .form-control-file {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus, .form-control-file:focus {
    border-color: blue;
    box-shadow: 0 0 5px blue;
}

.btn-primary {
    background-color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
    transform: translateY(-2px);
}

.form-group {
    margin-bottom: 20px;
}

.form-check-input {
    margin-right: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
