:root {
    --primary-color: linear-gradient(90deg, #0d0d0d 0%, #4c2835 100%, #0d0d0d 100%);
    --primary-color-light: rgba(141, 71, 94, 0.1);
    --primary-color-dark: #6D3648;
    --text-color: #333;
    --background-color: #f8f9fa;
}
    
    
.job-details-section {
    background: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-details-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.job-details-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.job-details-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-details-form h2 {
    font-size: 2rem;
    color: #333;
}

.job-details-form p {
    color: #777;
    font-size: 1.1rem;
}

.form-control,
.form-control-file {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-group {
    margin-bottom: 20px;
}